<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat|Source Sans Pro">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>GAGET BOX</h1>
        <img class="banner" src="https://media-eng.dhakatribune.com/uploads/2020/10/photo-october-offer-1602498632004.jpg" alt="">
    </div>
    <div class="container">
        <div class="item">
            <div class="image"><img src="https://images.mobileshop.eu/1603734049/product-medium/apple-iphone-12-5g-dual-esim-64gb-4gb-ram-black.jpg" alt=""></div>
            <div class="desr">
                <p class="text">Apple iPhone 12 5G Dual eSIM 64GB 4GB RAM Black</p>
                <p class="price">831.00 TK</p>
                <button class="viewdetails">view details</button>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>